.main {
	border-radius: 1.6rem;
	height: 100%;
	padding: 2.4rem;
	margin-top: 2.4rem;
}

.heading {
	position: relative;
	font-size: 4rem;
	text-align: center;
	width: fit-content;
	margin: auto;
}

.heading::after {
	position: absolute;
	content: '';
	border-radius: 50% 50% 0 0;
	background-color: var(--primary-color);
	height: 3.2rem;
	width: 8px;
	right: 0;
	transform: rotateZ(225deg) translate(-4px, -4px);
}

.headingLogo {
	background-color: var(--secondary-color);
	border-radius: 8px;
	display: inline-block;
	height: 4rem;
	width: 3.2rem;
	margin-left: 1.2rem;
	position: relative;
}

.headingLogo::before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 2px;
	width: 3.2rem;
	background-color: var(--grey);
	margin-top: 1.1rem;
	left: 0;
}

.headingLogo::after {
	content: '';
	display: inline-block;
	position: absolute;
	height: 2px;
	width: 3.2rem;
	background-color: var(--grey);
	margin-top: 2.3rem;
	left: 0;
}

.heading span {
	color: var(--primary-color);
}

.heroContainer {
	display: flex;
	flex-direction: column;
}

.heroContainer > div:last-of-type {
	text-align: center;
}

.heroImg {
	width: 80%;
	margin: 6.4rem auto;
	max-width: 40rem;
}

.heroImg img {
	display: block;
	width: 100%;
}

h3 > span:nth-of-type(1) {
	color: var(--primary-color);
}

h3:last-of-type {
	margin-top: 8px;
}

h3 > span.heroTextDesign {
	display: inline-block;
	color: var(--secondary-color);
	transform: rotateZ(-10deg) translate(4px, -4px);
	padding: 4px 8px;
	border: 1px solid var(--secondary-color);
	position: relative;
}

.heroTextDesign::before {
	content: '';
	width: 6px;
	height: 6px;
	display: inline-block;
	background-color: var(--secondary-color);
	border-radius: 50%;
	position: absolute;
	top: -3px;
	left: -3px;
}

.heroTextDesign::after {
	content: '';
	width: 6px;
	height: 6px;
	display: inline-block;
	background-color: var(--secondary-color);
	border-radius: 50%;
	position: absolute;
	top: -3px;
	right: -3px;
}

.heroTextDesign > span::before {
	content: '';
	width: 6px;
	height: 6px;
	display: inline-block;
	background-color: var(--secondary-color);
	border-radius: 50%;
	position: absolute;
	bottom: -3px;
	left: -3px;
}

.heroTextDesign > span::after {
	content: '';
	width: 6px;
	height: 6px;
	display: inline-block;
	background-color: var(--secondary-color);
	border-radius: 50%;
	position: absolute;
	bottom: -3px;
	right: -3px;
}

.heroContainer p {
	margin: 2.4rem auto 0;
	max-width: 50ch;
}

.authContainer {
	margin-top: 3.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.primaryBtn {
	width: 12rem;
}

.secondaryBtn {
	background-color: transparent;
	color: var(--primary-color);
	margin-top: 1.6rem;
}

@media only screen and (min-width: 768px) {
	.main {
		margin-top: 4rem;
	}
	.heading {
		margin-left: 5.6rem;
	}

	.heroContainer {
		flex-direction: row;
		align-items: center;
		margin: 0 5.6rem 0;
	}

	.heroImg {
		margin: 0 auto;
		order: 2;
	}

	.heroContainer > div:last-of-type {
		text-align: left;
	}

	.authContainer {
		align-items: flex-start;
	}

	.secondaryBtn {
		padding: 0.8rem 0;
	}
}
