.editorSection {
	margin: 1.6rem;
	background-color: var(--body-bg-3);
	flex-grow: 1;
	padding: 1.6rem;
	max-height: calc(100vh - 6.4rem);
}

.editorTitle {
	margin: 8px 0;
}

.editorTitle:first-of-type {
	margin-top: 0;
}

.editorTitle:last-of-type {
	margin-top: 1.6rem;
}

.btn {
	margin-top: 8px;
	border-radius: 1.6rem;
}

.colorContainer {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
	align-items: center;
}

.colorContainer > span {
	margin: 1.6rem 0;
}

.colorContainer select {
	margin: 0 1.6rem;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 1.2rem;
}

.clearBtn {
	background-color: transparent;
	color: var(--text-primary);
	padding: 0;
}

.quill {
	color: var(--black);
}

.labelDropdown {
	margin-top: 1.6rem;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
	align-items: center;
}

.labelDropdown select {
	margin: 0 1.6rem;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 1.2rem;
}

.labelDropdown button {
	background-color: transparent;
	color: var(--text-primary);
	padding: 0;
}

.chipContainer {
	align-items: center;
	display: flex;
	margin: 1.6rem 0;
	gap: 10px;
}

.chip {
	padding: 8px 10px;
	border-radius: 20px;
	font-size: 1.4rem;
	color: var(--black);
}

.chip button {
	margin-left: 4px;
	background-color: transparent;
	display: inline-block;
}
