.editorSection {
	margin: 1.6rem;
	background-color: var(--body-bg-3);
	flex-grow: 1;
	padding: 1.6rem;
}

.editorTitle {
	margin: 1.6rem 0;
}

.btn {
	margin-top: 2.4rem;
}

.colorContainer {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.6rem;
	justify-content: space-between;
}

.colorContainer > span {
	display: block;
	width: 100%;
	margin: 1.6rem 0;
}

.clearBtn {
	background-color: transparent;
	color: var(--text-primary);
}
