.ql-editor {
	word-break: break-word;
	white-space: normal;
	max-height: 22rem;
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) transparent;
}

.ql-editor h1 {
	line-height: 1.5;
}

.ql-editor::-webkit-scrollbar {
	width: 6px;
}

.ql-editor::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background-color: var(--secondary-color);
}

.ql-snow .ql-editor blockquote {
	font-size: 1.4rem;
}
