.aside {
	background-color: #1d2136;
	width: 24rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-shrink: 0.1;
}

.asideBtnList {
	padding: 1.6rem;
	list-style: none;
}

.asideBtnList a {
	background-color: transparent;
	display: block;
	padding: 8px;
	font-size: 1.6rem;
	cursor: pointer;
	color: var(--text-primary);
}

a.active {
	color: var(--secondary-color);
}

.active > i {
	color: inherit;
	margin-right: 4px;
}

.spacer {
	width: 85%;
	margin: 8px auto;
	height: 1px;
	background-color: var(--primary-color);
}

.aside .newLabelBtn {
	background-color: var(--primary-color);
	display: block;
	margin: 1.6rem auto 2.4rem;
	color: var(--text-primary);
	padding: 8px 1.2rem 10px;
	border-radius: 2.4rem;
	font-size: 1.4rem;
	width: 65%;
}

.userProfile {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--black);
	background-color: var(--text-primary);
	border-radius: 3.2rem;
	width: 65%;
	padding: 8px;
	margin: auto auto 2.4rem;
}

.userProfile img {
	height: 4rem;
	width: 4rem;
}

.userProfile span {
	margin-left: 8px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6rem;
	font-weight: 700;
}

.labelModal {
	border-radius: 8px;
	padding: 1.6rem;
	background-color: var(--body-bg);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.labelModal label {
	font-size: 1.4rem;
	margin-bottom: 1.2rem;
}

.labelModal input {
	box-sizing: border-box;
	border-radius: 8px;
}

.labelModal button {
	display: block;
	margin: 1.6rem 0 0 auto;
	font-size: 1.4rem;
	padding: 8px 1.2rem;
}
