.labelNotes {
	background-color: var(--body-bg-2);
	width: 24rem;
	padding: 1.6rem;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
}

.allNotes {
	margin-top: 1.6rem;
	max-height: calc(100vh - 24rem);
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color) transparent;
}

.allNotes article:first-of-type {
	margin-top: 0;
}

.allNotes::-webkit-scrollbar {
	width: 6px;
}

.allNotes::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background-color: var(--secondary-color);
}

.inputContainer {
	margin: 0 auto;
	position: relative;
}

.inputContainer input {
	box-sizing: border-box;
	border-radius: 2.4rem;
}

.inputContainer i {
	position: absolute;
	color: var(--black);
	right: 1.6rem;
	top: 10px;
	font-size: 1.6rem;
}

.labelFilter {
	display: flex;
	justify-content: space-around;
	margin-top: 1.6rem;
	padding-bottom: 8px;
	border-bottom: 2px solid var(--primary-color);
}

.sortBtn {
	background-color: transparent;
	padding: 0 4px;
}

.priority {
	text-align: center;
	margin-top: 1.6rem;
}

.priority select {
	margin: 0 1.6rem;
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 1.2rem;
}

.newNoteBtn {
	margin: auto auto 10px;
	border-radius: 1.6rem;
}

@media only screen and (max-width: 980px) {
	.labelNotes {
		display: none;
	}
}
