.labelNotes {
	background-color: var(--body-bg-2);
	width: 24rem;
	padding: 1.6rem;
	flex-shrink: 0;
}

.inputContainer {
	margin: auto;
	position: relative;
}

.inputContainer input {
	box-sizing: border-box;
	border-radius: 2.4rem;
}

.inputContainer i {
	position: absolute;
	color: var(--black);
	right: 1.6rem;
	top: 10px;
	font-size: 1.6rem;
}

.labelFilter {
	display: flex;
	justify-content: space-around;
	margin-top: 1.6rem;
	padding-bottom: 8px;
	border-bottom: 2px solid var(--primary-color);
}
