.trashContainer {
	margin: 1.6rem;
	background-color: var(--body-bg-3);
	flex-grow: 1;
	padding: 1.6rem;
	border-radius: 10px;
	max-height: calc(100vh - 6.4rem);
	font-size: var(--text-lg);
	text-align: center;
	height: 100vh;
}
