:root {
	--body-bg: #1d1f3e;
	--text-primary: #fcfcfd;
	--primary-color: #ee4a4b;
	--secondary-color: #ffb701;
	--white: #fff;
	--bg-design: #696e87;
}

/* iframe style was given to avoid the react overlay bug */
iframe {
	pointer-events: none;
}

body {
	background-color: var(--body-bg);
	color: var(--text-primary);
	height: 100%;
}
