:root {
	--body-bg: #1d2136;
	--text-primary: #fcfcfd;
	--primary-color: #ee4a4b;
	--secondary-color: #ffb701;
	--white: #fff;
	--body-bg-2: #242644;
	--body-bg-3: #232b4f;
}

/* iframe style was given to avoid the react overlay bug */
iframe {
	pointer-events: none;
}

body {
	background-color: var(--body-bg);
	color: var(--text-primary);
	height: 100%;
}

#root {
	display: flex;
}
