:root {
	--body-bg: #1d2136;
	--text-primary: #fcfcfd;
	--primary-color: #ee4a4b;
	--secondary-color: #ffb701;
	--white: #fff;
	--body-bg-2: #242644;
	--body-bg-3: #232b4f;
	--note-green: #ccff90;
	--note-red: #ff9d95;
	--note-yellow: #fff475;
	--note-blue: #cbf0f8;
	--note-purple: #d7aefb;
	--note-gray: #e8eaed;
	--chip-gray: #d1d1d1;
	--chip-red: #ff7d72;
	--chip-yellow: #fbec3a;
	--chip-green: #b6fb64;
	--chip-blue: #aceaf8;
	--chip-purple: #ca8ffe;
	--toastify-toast-min-height: 5.6rem;
	--toastify-color-info: var(--info-color);
}

/* iframe style was given to avoid the react overlay bug */
/* iframe {
	pointer-events: none;
} */

.Toastify__toast-container--top-right {
	font-size: var(--text-md);
}

body {
	background-color: var(--body-bg);
	color: var(--text-primary);
	height: 100%;
}

#root {
	display: flex;
	justify-content: center;
}

.note-green {
	background-color: var(--note-green);
}

.note-red {
	background-color: var(--note-red);
}

.note-yellow {
	background-color: var(--note-yellow);
}

.note-blue {
	background-color: var(--note-blue);
}

.note-purple {
	background-color: var(--note-purple);
}

.note-gray {
	background-color: var(--note-gray);
}

.chip-green {
	background-color: var(--chip-green);
}

.chip-red {
	background-color: var(--chip-red);
}

.chip-yellow {
	background-color: var(--chip-yellow);
}

.chip-blue {
	background-color: var(--chip-blue);
}

.chip-purple {
	background-color: var(--chip-purple);
}

.chip-gray {
	background-color: var(--chip-gray);
}
