.bgContainer {
	position: relative;
}

.circleOne {
	position: absolute;
	height: 32rem;
	width: 32rem;
	border-radius: 50%;
	border: 8px solid var(--bg-design);
	top: -12rem;
	left: -12rem;
	z-index: -1;
}

.circleTwo {
	position: absolute;
	height: 40rem;
	width: 40rem;
	border: 8px solid var(--bg-design);
	border-radius: 80% 30% 50%;
	top: 26.4rem;
	left: 20%;
	z-index: -1;
}

.circleThree {
	position: absolute;
	height: 40rem;
	width: 40rem;
	border: 8px solid var(--bg-design);
	border-radius: 40% 80% 60% 20%;
	top: 10rem;
	right: 8px;
	z-index: -1;
}
